<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>OpenFero - {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/htmx.min.js"></script>
</head>

<body style="padding-top: 70px;">
    {{ template "navbar" . }}
    <!-- Page content-->
    <section class="container-fluid" id="alerts">
        <div class="row" id="alert">
            {{ range .Alerts }}
            <div class="container py-3" hx-swap="outerHTML">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">{{ .Alert.Labels.alertname }}</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <h6 class="card-subtitle mb-3">
                                <i class="bi bi-info-square-fill me-2"></i>Metadata
                            </h6>
                            <div class="ms-4">
                                <strong>Timestamp:</strong> {{ .Timestamp }}
                            </div>
                            <div class="ms-4">
                                <strong>Status:</strong> {{ .Status }}
                            </div>
                        </div>

                        <hr>

                        <div class="mb-4">
                            <h6 class="card-subtitle mb-3">
                                <i class="bi bi-tags-fill me-2"></i>Labels
                            </h6>
                            {{ range $key, $value := .Alert.Labels }}
                            <div class="ms-4">
                                <strong>{{ $key }}:</strong> {{ $value }}
                            </div>
                            {{ else }}
                            <p class="text-muted ms-4">No labels found.</p>
                            {{ end }}
                        </div>

                        <hr>

                        <div>
                            <h6 class="card-subtitle mb-3">
                                <i class="bi bi-info-circle-fill me-2"></i>Annotations
                            </h6>
                            {{ range $key, $value := .Alert.Annotations }}
                            <div class="ms-4">
                                <strong>{{ $key }}:</strong> {{ $value }}
                            </div>
                            {{ else }}
                            <p class="text-muted ms-4">No annotations found.</p>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            {{ else }}
            <div class="container py-3">
                <div class="container py-3">
                    <p class="fs-4 text-muted">No alerts found.</p>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</body>

</html>